*{
    padding: 0;
    margin: 0;
}
#logoNavContainer{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
#logoNav{
  width: auto;
}
#contact-mail{
    flex-direction: column;
    width: 60%;
    margin-right: 10px;
}
#contact{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(81, 80, 80);
}
#contact span{
    font-size: 14px;
}
#contact:hover{
    color: white ;
    background-color: black;
}

#mail{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 52, 52);
}
#mail span{
    font-size: 14px;
}
#mail:hover{
    color: white;
    background-color: black;
}

#logoNav ul{
    margin-right: 0px;
}
#logoNav ul li{
    font-size: 18px;
    padding: 0px 7px;
}

.strline{
  display: none;
}
 
/*second nav bar*/
#container{
    padding: 20px;
}
#container label{
    display: initial;
}
#container #flex{
    position: absolute;
    top: 100%;
    left:0;
    right: 0;
    background: rgb(228, 228, 228);
    border-top:1px solid rgba(0,0,0,.1);
    display: none;
}
#container #flex ul li{
    width: 100%;
}
#container #flex ul li ul{
    position: relative;
    width: 100%;
}

#menu-bar:checked ~ #flex{
    display: initial;
}

#container img{
    height: 40px;
    width: auto;
}


/*background section*/
#bg1Div{
    padding-left: 40px;
    width: 200px;
}

#bg1Div p{
    font-size: 20px;
}

#bg1Div h1{
    font-size: 35px;
}


/*form and map section*/
#formMap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form{
    width: 90%;
    overflow: hidden;
}
#form h2{
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#map{
    width: 90%;
}


/*contact section*/
#contSection{
    flex-direction: column;
}
#contSection .innerCont{
    padding: 10px 30px;
    width: 70%;
}
#contSection .innerCont .icons{
    height: 60px;
    width: 60px;
}
  
#contSection .innerCont .h3Heading{
    font-size: 25px;
    padding: 10px;
}
  
#contSection .innerCont p{
    font-size: 16px;
    padding-top: 7px;
}


/*scroll top section*/
#myBtn{
    padding: 8px;
}
#myBtn .scrolltop{
    width: 1.5rem;
    height: 1.5rem;
}